APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
MONGO_URI=mongodb+srv://bbn_admin:BBNADMIN123!@cluster0.ixftjzi.mongodb.net/?appName=Cluster0
MONGO_DB=bbn_ms

DEFAULT_ADMIN_NAME=Administrator
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
